body{
  margin: 0 auto;
  font-family: "Mariad Pro", sans-serif;
  font-weight: 400;
}
a{
  text-decoration: none;
}
.menu ul {
  text-align: center;
  margin: 0; /* Обнуляем значение отступов */
  padding: 20px; /* Значение полей */
}
.menu ul li {
  color:  #ffffff;
  font-size: 24px;/* Приближение из-за подстановки шрифтов */
  line-height: 50px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  padding: 3px; /* Поля вокруг текста */
  padding: 65px;
}
.left-nav li{
  list-style-type: none;
}
